<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>세미프로잭트</title>
    <link rel="stylesheet" href="/static/css/bs5/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/project.css">

</head>
<body>
    <div id="wrap" class="container">
        <header class="p-3"><h1>세미프로잭트 v1</h1></header>
        <nav><ul class="nav nav-fill">
            <li class="nav-item"><a class="nav-link"  href="#">home</a></li>
            <li class="nav-item"><a class="nav-link"  href="#">회원가입</a></li>
            <li class="nav-item"><a class="nav-link"  href="#">로그인</a></li>
            <li class="nav-item"><a class="nav-link"  href="#">게시판</a></li>
            <li class="nav-item"><a class="nav-link"  href="#">회원정보</a></li>
        </ul>
        <hr>
        </nav>
        <main>
            <div class="text-center">
                <img src="/static/img/dog2.png" class="img-fluid">
            </div>
        </main>
        <footer>
            <hr>
            <p class="text-center">copyright &copy; 2024. hchae31. all rights reserved</p>
        </footer>
    </div>
</body>
</html>